.bottom {
    background-color: $medium-primary-color;
    color: $light-color-text;
    text-align: center;
    overflow: hidden;

    .contact-info {
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;

            a {
                color: $light-color-text;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .bottom {
        text-align: left;

        .contact-info {
            .item {
                justify-content: flex-start;
            }
        }
    }
}