* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: $main-transition;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #0e4d79a1;
    color: $light-color-text;
}

body {
    font-family: $primary-font;
    background-color: $light-bg;
    color: $medium-color-text;
    line-height: 1.6em;
    letter-spacing: 0em;
}

section {
    padding: 5rem 0;
}

// Texts -------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    color: $dark-color-text;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

h1.main-title {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-indent: -9999em;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $light-primary-color;

    &:hover {
        color: $dark-primary-color;
    }
}

// Buttons -------------------------------------------------------------------------------------------

.btn {
    border-radius: $border-radius;
    font-family: $primary-font;
    padding: .5rem 1rem;
}

.btn-primary {
    background-color: $light-primary-color;
    border: .12rem solid $light-primary-color;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: transparent;
    border: .12rem solid $light-primary-color;
    color: $light-primary-color;
}

.btn-secondary {
    background-color: $secondary-color;
    border: .12rem solid $secondary-color;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: transparent;
    border: .12rem solid $secondary-color;
    color: $secondary-color;
}