.product-gallery {
    .products-container {
        .item {
            overflow: hidden;
            margin-bottom: 3rem;

            img {
                width: 100%;
            }
        }
    }
}